:root {
  --brand-color: rgba(230, 128, 8, 1);
  --accent-color: rgba(1, 137, 211, 1);
  --accent-hover-color: rgb(136, 200, 234);
  --green-light: #69db7c;
  --blue-light: #4dabf7;
  --red-light: #ff6b6b;
}
