header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 3rem 0;

  img {
    margin-right: 2rem;
  }

  .header_homeRefs {
    margin-left: 5rem;
    display: flex;
    align-items: center;

    .header_logo {
      width: 10rem;
    }
  }

  .header_modulos {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 5rem;

    .selected {
      position: relative;
      &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 115%;
        content: "";
        padding-top: 2px;
        background-color: var(--brand-color);
      }
    }
  }
}
