main {
  transition: all 0.2s;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.NOVO {
    background-color: var(--green-light);
  }

  &.BUSCA {
    background-color: var(--blue-light);
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.4);

    border-radius: 30px;

    background-color: white;
    overflow: hidden;

    .fichaViewContainer {
      transition: all 0.3s;
      gap: 5rem;
      margin: 5rem;
      display: flex;
      align-items: center;
    }

    .actionsBar {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 3rem;

      button {
        cursor: pointer;
        font-size: 2rem;
        transition: all 0.3s;
        padding: 0.2rem 2rem;
        border-radius: 15px;

        &:hover {
          filter: brightness(1.1);
        }

        &.cancelar {
          color: white;
          background-color: var(--red-light);
        }

        &.criar {
          color: white;
          background-color: var(--green-light);
        }

        &.buscar {
          color: white;
          background-color: var(--blue-light);
        }

        &.finalizar {
          animation-name: glowing;
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-direction: alternate-reverse;
          animation-iteration-count: infinite;

          color: white;
          background-color: var(--brand-color);
          transition: all 0.2s;

          &:active {
            transform: translate(0px, 3px);
          }
        }
      }
    }
  }

  &.edit {
    background-color: var(--green-light);
  }
}
