:root {
  --brand-color: rgba(230, 128, 8, 1);
  --accent-color: rgba(1, 137, 211, 1); }

button {
  border: none;
  font-family: inherit;
  background-color: transparent; }

.form__group {
  display: flex;
  gap: 3rem; }
  .form__group .form__radio-group {
    display: inline-block; }
    .form__group .form__radio-group .form__radio-input {
      display: none; }
    .form__group .form__radio-group .form__radio-label {
      font-size: 2rem;
      cursor: pointer;
      position: relative; }
    .form__group .form__radio-group .form__radio-button {
      padding: 1rem 4rem;
      border: 3px solid black;
      display: inline-block;
      transition: all 0.3s; }
    .form__group .form__radio-group .form__radio-input:checked ~ .form__radio-label .form__radio-button {
      border-color: var(--brand-color); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-top-highlight-color: transparent; }

html {
  font-size: 62.5%; }

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "EB Garamond";
  font-weight: 500; }

.unidadeSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7rem; }
  .unidadeSection h1 {
    font-size: 3.5rem;
    font-weight: 400; }

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 3rem 0; }
  header .header_homeRefs {
    margin-left: 5rem;
    display: flex;
    align-items: center; }
    header .header_homeRefs .header_logo {
      width: 10rem; }
  header .header_modulos {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 5rem; }
    header .header_modulos .selected {
      position: relative; }
      header .header_modulos .selected::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 115%;
        content: "";
        padding-top: 2px;
        background-color: var(--brand-color); }
